    .header-title{
    width: 135.00051879882812;
height: 39;
top: 32px;
left: 165px;
background: #E50014;
}
.header-container{
width: 1440;
height: 103;
background: #131313;

}
.header-container a {
    text-decoration: none;
    color: white;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    list-style: none;
      text-decoration: none !important;
      color: white;
        
}
.header-links{
    display: flex;
    gap: 30px;
    list-style: none;
    position: absolute;
    left: 300px;
    color: white;
      text-decoration: none !important;
}
.header-links a {
    text-decoration: none;
    color: white;
}
.header-avatar{
width: 18;
height: 18;
top: 28px;
left: 1227px;
opacity: 1;
}
.header-search-avatar{
    display: flex;
    gap: 10px;
    width: 48;
}
.logout-button {
    background-color: transparent;
    border: 1px solid #E50014;
    color: #E50014;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}